<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head')  %>

  <body>

    <%- include('./partials/header')  %>

    <section class = 'contenedor-home'>
      <h1 class= 'titulo-home'>Bienvenidos a Digital House Movies</h1>
      <p class= 'texto-home'>Las mejores peliculas en un solo lugar!</p>
    </section>
  </body>
  <%- include('./partials/footer')  %>
</html>
