<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %>

<body>

    <%- include('./partials/header')  %>

    <section class = "contenedor-search">
        <h2 class="titulo-search">Busquedas encontradas</h2>
        <% searchResults.forEach(movie => { %>
            <a class="nombre-search" href="detail/<%=movie.id%>" ><%= movie.title%> </a>
        <% }) %>
      </section>
    
</body>
</html>