<footer class="pie_de_pagina">
    <section class="contenedorfinal">
        <div class="informacion">
            <p>Proyecto Digital House</p>
        </div>
    <section class="copyright">
        Copyright©2020 Maria Celia Laje
    </section>
</footer>