<div class="contenedor-principal">
<header class="header-principal">
    <nav class="menu_de_navegacion">
        <ul class="nav-list-items">
            <li><a href="/">Inicio</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/recommended">Recomendadas</a></li>
            <li><a href="/movies/new">Estrenos</a></li>
            <li><a href="/movies/create">Crear</a></li>
        </ul>
        <div class="formulario-busqueda">
            <form class="nav-search" action="/movies/search" method="POST">
                <input type="text" class="nav-search-input" name="busqueda" placeholder="Buscar peliculas" maxlength= "120">
            </form>
        </div>
    </nav>

</header>